<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Edit device - Slotkeeper</title>
  <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}'>
</head>
<body>

  <div class='login-container'>
    <div class='card login-card'>

      <h2>Edit device</h2>

      <form method='post'>
        <input type='hidden' name='csrf_token' value='{{ csrf_token }}'>
        <div style='margin-bottom:0.8rem;'>
          <input type='text' name='name' value='{{ device.name }}' placeholder='Device name' required
                 style='width:100%; padding:8px; box-sizing:border-box;' maxlength='32'>
        </div>

        <div style='margin-bottom:1rem;'>
          <textarea name='description' rows='4' placeholder='Description'
                    style='width:100%; padding:8px; box-sizing:border-box;' maxlength='4096'>{{ device.description }}</textarea>
        </div>

        <button type='submit' class='register-btn' style='width:100%;'>Update</button>
      </form>

      <p style='margin-top:1rem;'>
        <a href='/' class='login-btn' style='display:inline-block; width:100%;'>Cancel</a>
      </p>

    </div>
  </div>
  {% if modal_error %}
  <div class='modal-overlay'>
      <div class='card login-card modal-card'>
      <h2>Error</h2>
      <p>{{ modal_error }}</p>
      <p style='margin-top: 2em;'>
          <a href='/' class='login-btn' style='display:inline-block; width:100%;'>Close</a>
      </p>
      </div>
  </div>
  {% endif %}
</body>
</html>